* {
  box-sizing: border-box;
}

/* select zone */
.header {
  height: 500px;
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  background-image: url('../images/Hero.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.header .title {
  padding-top: 89px;
  font-family: 'PingFangTC-Regular';
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 3.89px;
}
.header .select-area {
  margin-top: 96px;
  padding-left: 10px;
  padding-right: 10px;
  height: 48px;
  width: 452px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.70);
  border: 3px solid #FFFFFF;
  border-radius: 3px;
}
.header .select-area select {
  /*移除箭頭樣式*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*改變右邊箭頭樣式*/
  background: url('../images/icons_down.png') no-repeat right center;

  /* Layout */
  width: 100%;
  border: 0;
  outline: none;

  /* Font */
  font-family: 'PingFangTC-Regular';
  font-size: 18px;
  color: #000000;
  line-height: 21px;
}
.header .select-area .area-name {
  font-family: 'PingFangTC-Regular';
  font-size: 18px;
  color: #000000;
  line-height: 21px;
}

/* hot zones */
.hot-area {
  margin-top: 79px;
  height: 112px;
  width: 800px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
}
.hot-area .title {
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 26px;
  padding: 0;
  color: black;
  font-family: 'AppleSystemUIFont';
  font-size: 18px;
  color: #000000;
}
.hot-area .areas {
  margin-top: 14px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-around;
}
.hot-area .areas .hot {
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-family: 'PingFangTC-Regular';
  font-size: 20px;
  color: #FFFFFF;
}

/* separator */
.separator {
  width: 1024px;
  height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.separator::before {
  content: "";
  width: 450px;
  margin-right: 10px;
  border-top: 1px dashed #559AC8;
}
.icon-down {
  width: 24px;
  height: 100%;
  background: #00000000 url("../images/icons_down.png") no-repeat center center;
  border-radius: 24px;
  border: 2px solid #559AC8;
}
.separator::after {
  content: "";
  width: 450px;
  margin-left: 10px;
  border-top: 1px dashed #559AC8;
}

/* scene list */
.content {
  height: 1000px;
  width: 1024px;
  margin: 0 auto;
  background: pink;
}

/* footer */
.footer {
  height: 90px;
  width: 1024px;
  margin: 0 auto;
  background: rgba(85,154,200,1);
}
